<html>
    <head>
        <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>
        <script type='text/javascript' src='lib/jquery.moreorless.js/jquery.moreorless.js'></script>
        <script type='text/javascript' src='js/jquery.treeselect.js'></script>
        <script type='text/javascript' src='js/jquery.chosentree.js'></script>
        <link rel='stylesheet' type='text/css' href='lib/jquery.moreorless.js/moreorless.css' />
        <link rel='stylesheet' type='text/css' href='css/treeselect.css' />
        <link rel='stylesheet' type='text/css' href='css/chosen.css' />
        <script type='text/javascript'>
            jQuery(function() {
              $('div.chosentree').chosentree({
                width: 500,
                deepLoad: true,
                load: function(node, callback) {
                  /**
                   * This would typically call jQuery.ajax to load a new node
                   * on your server where you would return the tree structure
                   * for the provided node.
                   */
                }
              });
            });
        </script>
    </head>
    <body>
        <div class="chosentree"></div>
    </body>
</html>